@page "/restaurants"
@model ListModel
@{ ViewData["Title"] = "Restaurant"; }

@if(TempData["Message"] != null) 
{ <div class="alert alert-danger">@TempData["Message"]</div> }

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Restaurants</h1>
    <a class="btn btn-primary" asp-page="./Edit">Add New</a>
</div>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="Search" />
            <span class="input-group-append">
                <button class="btn btn-outline-secondary">Search</button>
            </span>
        </div>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

@section footer 
{
    @* <div class="alert alert-info">This is a section of footer</div> *@
}

@*

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>
                <a 
                    asp-page="./Detail" 
                    asp-route-restaurantId="@restaurant.Id">
                    @restaurant.Name
                </a>
            </td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a 
                    asp-page="./Edit" 
                    asp-route-restaurantId="@restaurant.Id">
                    edit
                </a>
                <a 
                    asp-page="./Delete" 
                    asp-route-restaurantId="@restaurant.Id">
                    delete
                </a>
            </td>
        </tr>
    }
</table>

*@